
# Parameterized microUART Design and Verification

## Project Report

The complete project report for the microUART Design and Verification project can be accessed using the link below:

- [ALU Design and Verification Report]()

