
# Parameterized microUART Design and Verification

## Project Report

The complete project report for the microUART Design and Verification project can be accessed using the link below:

- [ALU Design and Verification Report](https://mirafra2-my.sharepoint.com/:b:/g/personal/joshua_mirafra2_onmicrosoft_com/IQBUHCAdvdE3Qov0KB_WYqOSAQjR_QXN9ph8RHNhN3eBNxM?e=RZQsUq)

